<div ng-cloak>
	<div layout="row">
		<md-card flex>
			<md-toolbar class="md-primary">
			   <h1 class="md-toolbar-tools">Event Logger</h1>
			 </md-toolbar>
			<md-card-content >
				<div layout="row">
					<div layout="column" flex>
						Appoinments Created: {{index.events.created.length}}
					</div>
					<div layout="column" flex>
						Appoinments Cancelled: {{index.events.cancelled.length}}
					</div>
				</div>

			</md-card-content>
		</md-card>
	</div>
	<hr>
	<div layout="row" layout-padding="20" layout-align="space-around">
			<div layout="column" flex>
				<canvas id="line" class="chart chart-line" chart-data="lineChart.data"
				  chart-labels="lineChart.labels" chart-legend="true" chart-series="lineChart.series"
				  chart-click="onClick" >
				</canvas>
			</div>
			<div layout="column" flex >
				<canvas id="doughnut" class="chart chart-doughnut"
				  chart-data="pie.data" chart-labels="pie.labels">
				</canvas>
			</div>
	</div>
</div>
