<div ng-cloak>
	<div layout="row">
		<md-card flex>
			<md-toolbar class="md-primary">
				<h1 class="md-toolbar-tools">Event Logger</h1>
			</md-toolbar>
			<md-card-content>
				<div layout="row">
					<div layout="column" flex>
						Events: {{vm.count}}
					</div>
					<div layout="column" flex>
						Appoinments Booked: {{vm.eventsBookedTotal}}
					</div>
					<div layout="column" flex>
						Appoinments Cancelled: {{vm.eventsCancelledTotal}}
					</div>
				</div>

			</md-card-content>
		</md-card>
	</div>
	<hr>
	<div layout="row" layout-padding="20" layout-align="space-around">
		<md-card flex>
			<md-toolbar class="md-primary">
				<h1 class="md-toolbar-tools">Daily Booked Appoinments</h1>
			</md-toolbar>
			<md-card-content>
				<canvas id="line" class="chart chart-line" chart-data="lineChart.data" chart-labels="lineChart.labels" chart-legend="false" chart-series="lineChart.series" chart-click="onClick">
				</canvas>
				<md-card-content>
		</md-card>
		<md-card flex>
			<md-toolbar class="md-primary">
				<h1 class="md-toolbar-tools">Cancelled Appoinments</h1>
			</md-toolbar>
			<md-card-content>
				<canvas id="doughnut" class="chart chart-doughnut" chart-data="pie.data" chart-labels="pie.labels">
				</canvas>
				<md-card-content>
		</md-card>
	</div>

	<md-card>
	<md-toolbar class="md-table-toolbar md-default" ng-hide="vm.filter">
	  <div class="md-toolbar-tools">
	    <span>{{vm.title}}</span>
	    <div flex></div>
	  </div>
	</md-toolbar>
	<md-toolbar class="md-table-toolbar md-default" ng-show="vm.filter">
	  <div class="md-toolbar-tools">
	    <md-icon class="material-icons">search</md-icon>
	    <form flex="100" name="filter.form">
	      <md-input-container class="md-block">
	      <input type="text" ng-model="vm.query.filter" placeholder="search" flex>
	    </form>
	  </md-input-container>
	    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="vm.removeFilter()">
	      <md-icon class="material-icons">close</md-icon>
	    <div class="md-ripple-container"></div></button>
	  </div>
	</md-toolbar>

	<!-- exact table from live demo -->
	  <md-table-container>
	    <table md-table md-row-select ng-model="vm.selected" md-progress="vm.promise">
	      <thead md-head md-order="vm.query.order" md-on-reorder="vm.onReorder">
	        <tr md-row>
	          <th md-column ng-repeat="item in vm.headers"><span>{{item.name}}</span></th>
	        </tr>
	      </thead>
	      <tbody md-body>
	        <tr md-row md-select="item" md-select-id="{{item.id}}" md-auto-select ng-repeat="item in vm.data">
						<td md-cell>{{item.name}}</td>
						<td md-cell>{{item.appointmentId}}</td>
						<td md-cell>{{item.patient['nom'] +' '+item.patient['prénom'] }}</td>
						<td md-cell>{{item.patient['médecinTraitant'].nomComplet}}</td>
						<td md-cell>{{item.status}}</td>
	          <td md-cell><span am-time-ago="item.createdAt"></span></td>
	          <td md-cell><span am-time-ago="item.updatedAt"></span></td>
	        </tr>
	      </tbody>
	    </table>
	  </md-table-container>

	  <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.count}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
	</md-card>
