<!DOCTYPE html>
<html>

<head>
  <title>Rvous Stats App</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Angulars Material CSS now available via Google CDN; version 0.8 used here -->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/admin.css">
  <link rel="stylesheet" href="/assets/libs/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/assets/libs/angular-chart.js/dist/angular-chart.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/assets/libs/angular-material-data-table/dist/md-data-table.min.css" media="screen" title="no title" charset="utf-8">
</head>

<body layout="row" ng-app="statsDashboard" ng-cloak>
  <md-sidenav ng-show="isAuthenticated" class="md-sidenav-left md-whiteframe-z1" md-is-locked-open="$mdMedia('gt-md')" md-component-id="left" style="width: 250px;">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">
        <a href="#/">
          <span>Rvous Stats Service</span>
        </a>
        </h2>
    </md-toolbar>
    <md-toolbar class="md-tall md-hue-2" style="font-size:small;">
      <span flex></span>
      <div layout="column" class="md-toolbar-tools-bottom inset">
        <user-avatar></user-avatar>
        <span></span>

        <div>Firstname Lastname</div>
        <div>{{user.email}}</div>
      </div>
    </md-toolbar>
    <md-content ng-controller="SidenavController as sidenav">
      <md-list ng-cloak>
        <md-subheader class="md-no-sticky">Available Options</md-subheader>
        <md-list-item ng-if="user.isAdmin == menu.admin || user.isAdmin" ng-repeat="menu in sidenav.menuItems" layout="row" md-ink-ripple layout-align="start center" style="cursor: pointer;" ng-click="sidenav.changeState(menu.state)">
          <div class="inset">
            <ng-md-icon icon="{{menu.icon}}"></ng-md-icon>
          </div>
          <div class="inset">
            {{menu.name}}
          </div>
        </md-list-item>
        <md-list-item layout="row" md-ink-ripple layout-align="start center" style="cursor: pointer;" ng-click="sidenav.logout()">
          <div class="inset">
            <ng-md-icon icon="logout"></ng-md-icon>
          </div>
          <div class="inset">
            Logout
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

  <div ui-view layout="column" ng-controller="LayoutController as layout" flex></div>

  <!--SCRIPTS-->
  
  <!--SCRIPTS END-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="//js.pusher.com/3.0/pusher.min.js"></script>
  <script src="/assets/libs/Chart.js/Chart.js"></script>
  <script src="/assets/libs/angular/angular.js"></script>
  <script src="//cdn.jsdelivr.net/angular.pusher/latest/pusher-angular.min.js"></script>
  <script src="/assets/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/assets/libs/angular-animate/angular-animate.min.js"></script>
  <script src="/assets/libs/angular-aria/angular-aria.min.js"></script>
  <script src="/assets/libs/angular-messages/angular-messages.min.js"></script>
  <script src="/assets/libs/angular-chart.js/dist/angular-chart.js"></script>
  <script src="/assets/libs/angular-material/angular-material.min.js"></script>
  <script src="/assets/libs/angular-material-data-table/dist/md-data-table.min.js"></script>
  <script src="/assets/libs/moment/min/moment.min.js"></script>
  <script src="/assets/libs/angular-moment/angular-moment.min.js"></script>
  <script src="/assets/libs/lodash/dist/lodash.min.js"></script>
  <script src="/assets/libs/sails.io.js/dist/sails.io.js"></script>
  <script src="/assets/libs/angular-sails/dist/angular-sails.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>

  <script src="/app/app.module.js"></script>
  <script src="/app/app.constants.js"></script>
  <script src="/app/app.config.js"></script>
  <script src="/app/app.route.js"></script>
  <script src="/app/app.run.js"></script>
  <script src="/app/components/auth/auth.module.js"></script>
  <script src="/app/components/auth/auth.service.js"></script>
  <script src="/app/components/auth/auth.controller.js"></script>
  <script src="/app/components/auth/localStorage.service.js"></script>
  <script src="/app/shared/layout/layout.module.js"></script>
  <script src="/app/shared/layout/layout.controller.js"></script>
  <script src="/app/shared/layout/sidenav.controller.js"></script>
  <script src="/app/components/index/index.module.js"></script>
  <script src="/app/components/index/event.service.js"></script>
  <script src="/app/components/index/index.controller.js"></script>
  <script src="/app/components/account/account.module.js"></script>
  <script src="/app/components/account/account.service.js"></script>
  <script src="/app/components/account/account.controller.js"></script>
  <script src="/app/components/users/users.module.js"></script>
  <script src="/app/components/users/users.service.js"></script>
  <script src="/app/components/users/users.controller.js"></script>
  <script src="/app/components/users/addUser.controller.js"></script>
  <script src="/app/components/clinic/clinic.module.js"></script>
  <script src="/app/components/clinic/clinic.service.js"></script>
  <script src="/app/components/clinic/clinic.controller.js"></script>
  <script src="/app/shared/table/table.module.js"></script>
  <script src="/app/shared/table/table.directive.js"></script>
  <script src="/app/shared/searchbox/searchbox.module.js"></script>
  <script src="/app/shared/searchbox/searchbox.controller.js"></script>

</body>

</html>
