<!doctype html>
<html lang="en">

<head>
  <title>My First Admin</title>
  <link rel="stylesheet" href="assets/libs/ng-admin/build/ng-admin.min.css">
</head>

<body ng-app="myApp">
  <div ui-view></div>
  <script src="assets/libs/ng-admin/build/ng-admin.min.js"></script>
  <script type="text/javascript">
    var myApp = angular.module('myApp', ['ng-admin']);
    myApp.config(['NgAdminConfigurationProvider', function(nga) {
      // var nga = NgAdminConfigurationProvider;
      // create an admin application
      var admin = nga.application('Thirty Handmade Days Admin')
        .baseApiUrl('http://localhost:1337/');

      // Definicion de Entidades
      var user = nga.entity('user');
      var documents = nga.entity('document');
      var inputs = nga.entity('input')
        .identifier(nga.field('id')); // you can optionally customize the identifier used in the api ('id' by default)

      // Add Entities to Admin
      admin
        // .addEntity(user);
        .addEntity(documents)
        .addEntity(inputs);

      // Definicion de Actions

      // USER
      // user.listView().fields([
      //   nga.field('name').isDetailLink(true),
      //   nga.field('username'),
      //   nga.field('email')
      // ]);

      documents.listView().fields([
          nga.field('id'),
          nga.field('title'),
          nga.field('url_document'),
          nga.field('inputs'),
          nga.field('labels'),
          nga.field('supplies'),
          nga.field('tables'),
          nga.field('createdAt', 'date'),
          nga.field('updatedAt', 'date')
        ])
        .listActions(['show'])
        .batchActions([]);

      documents.creationView().fields([
        nga.field('title'),
        nga.field('url_document')
      ]);

      inputs.listView().fields([
          nga.field('id'),
          nga.field('type'),
          nga.field('name'),
          nga.field('style'),
          nga.field('disabled'),
          nga.field('value'),
          nga.field('document_id', 'reference')
            .isDetailLink(false)
            .label('Document')
            .targetEntity('documents')
            .targetField(nga.field('title'))
            .singleApiCall(ids => ({'id': ids })),
          nga.field('createdAt', 'date'),
          nga.field('updatedAt', 'date')
        ])
        .listActions(['show'])
        .batchActions([]);

      // documents.showView().fields(documents.listView());

      nga.configure(admin);
    }]);


    myApp.config(['RestangularProvider', function(RestangularProvider) {
      RestangularProvider.addFullRequestInterceptor(function(element, operation, what, url, headers, params) {
        if (operation == "getList") {
          // custom pagination params
          if (params._page) {
            params.limit = params._perPage;
            var start = (params._page - 1) * params._perPage;
            var end = params._page * params._perPage;
            params.skip = start;
          }
          delete params._page;
          delete params._perPage;
          // custom sort params
          if (params._sortField) {
            var sort = params._sortField;
            var order = params._sortDir;
            params.sort = sort + ' ' + order;
          }
          delete params._sortField;
          delete params._sortDir;
          // custom filters
          if (params._filters) {
            for (var filter in params._filters) {
              params[filter] = params._filters[filter];
            }
          }
          delete params._filters;
        }
        return {
          params: params
        };
      });
      RestangularProvider.addFullRequestInterceptor(function(element, operation, what, url, headers, params, httpConfig) {
        if (operation == 'post' || operation == 'put') {
          element = {
            values: element
          };
        }
        return {
          element: element
        };
      });
    }]);
  </script>
</body>

</html>
