<md-dialog aria-label="{{item.event.description}}"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{item.event.description}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close" aria-label="Close dialog" style="fill:white"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Patient: {{item.patient['prénom'] + ' ' + item.patient.nom}}</h2>

        <p>
        <strong>{{item.clinic.fullname}}</strong>, with <strong>{{item.professional.titre}} {{item.professional['prénom']+' '+item.professional.nom}}</strong>
        at {{ item.event.dateDeb | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}
        </p>
        <p>
          Created by:  {{item.user.email}}
        </p>
        <p>
          Date of Creation: {{item.createdAt | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
        </p>
        <p>
          Localization: {{item.localization.city+', '+item.localization.country}}
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Dissmiss
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
